.footer{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  border-top: 1px dashed gray;
  margin-top: 50px;
  .nav{
    .list{
      display: flex;
      align-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        font-size: 15px;
        margin: 0 20px; 
        cursor: pointer;
      }
    }
  }
  .socialNetwork{
    display: flex;
    list-style: none;
    .list{
      display: flex;
      align-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        font-size: 15px;
        margin: 0 20px; 
        cursor: pointer;
      }
    }
  }
}
