@import '../../assets/styles/variables.scss';
.hero{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(255,255,255,0.2)), url('/images/Pope.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  height: 100%;
  .container{
    padding: 50px 100px;
    .header{
      display: flex;
      justify-content: space-between;
      .title{
        margin:0;
        font-size: $font-x-large;
        color: $white;
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
      }
    }
  }
}

@media (max-width: 800px) {
  .container{
    padding: 0 !important;
    .header{ 
      flex-direction: column;
      .title{
        margin: 40px !important;
      }
    }
  }
}

@keyframes moveInBottom{
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}