// Colors
$white: #ffffff;
$blue: #1cbbb4;
$grey: #363c3e;
$red: #bd5764;
$black: #000;
$purple: #9f8fb3;
$orange: #fcb22f;
$charcoal-grey:#363c3e;
$grey-border:#c4c4c4;
$text-color: $grey;
// Font Family
$font-family: 'SimplePro_V3', sans-serif;
// Font size
$font-vsmall: 13px;
$font-small: 15px;
$font-base: 18px;
$font-large: 21px;
// Font Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;