.nav{
  .list{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    list-style: none;
    color: white;
    li{
      font-size: 19px;
      margin: 0 20px; 
      cursor: pointer;
      &:hover{
        border-bottom: 1px solid white;
      }
    }
  }
}