.heroCard{
  color: white;
  height: 100%;
  margin: 30px 20px 20px 0;
  width: 550px;
  background-color: red;
  .containerText{
    padding: 20px 30px;
    .title{
      font-size: 41px;
      font-weight: 700;
      margin: 0;
    }
  }
  
  .containerThumbs{
    display: flex;
    .thumbs{
      margin: 0 auto;
      text-align: center;
      width: 100%;
      padding: 20px 0;
    }
    .iconContainerUp{
      background-color: #238982;
    }
    .iconContainerDown{
      background: orange;
    }
  }
}
.heroCard::before{
  filter: blur(4px);
}