.card{
  position: relative;
  height: 550px;
  margin-bottom: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background-color: rgba(0,0,0,0.3);
  .image{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .containerDescription{
    display: flex;
    margin-bottom: 20px;
    width: 80%;
    .title{
      font-size: 41px;
      margin: 0;
    }
    .pullDate{
      margin: 0;
      font-size: 12px;
      .time{
        font-weight: 700;
      }
    }
    .iconContainerNone{
      background-color: none;
      width: 40px;
    }
    .iconContainer{
      background-color: #1cbbb4;
      margin-right: 10px;
      height: 40px;
        .thumbDown{
        margin: 10px;
        width: 20px;
        }
        &__:hover{
          background-color: aqua;
        }
    }
    .likeContainer{
      display: flex;
      .iconContainer{
        margin-right: 10px;
        cursor: pointer;
        .thumbup{
        margin: 10px;
        width: 20px;
        }
      }
      .iconContainerUp{
        background-color: #1cbbb4;
      }
      .iconContainerDown{
        background-color: #fcb22f;
      }
      .button{
        background:none;
        color: white;
        border: 1px solid white;
        padding:0 16px;
        font-size: 14px;
        animation: moveInLeft 1s;
        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
  }
  .progressBar{
    display: flex;
    font-size: 24px;
    .like{
      background-color: #1cbbb4;
      opacity: 0.8;
      padding: 10px 0;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img{
        padding: 0 10px;
      }
    }
    .dislike{
      background-color:#c08520;
      opacity: 0.8;
      padding: 10px 0;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img{
        padding: 0 10px;
      }
    }
  }
  .borderFocus{
    border: 1.5px solid white;
  }
  .button{
    background:none;
    color: white;
    border: 1px solid white;
    padding:10px 16px;
    font-size: 14px;
    cursor: pointer;
    animation: moveInRight 1s;
    &:hover{
      background-color: white;
      color: black;
    }
  }
}

@media (max-width: 800px) {
  .card{ 
    width: 100%;
    margin-bottom: 0;
  }
  
}

@keyframes moveInRight{
  0%{
    opacity: 0;
    transform: translateX(10rem)
  }
  80%{
    transform: translate(-1rem)
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-10rem)
  }
  80%{
    transform: translateX(1rem)
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}